/**********AboutMe**********/
.aboutMe {
  color: black;
  background:linear-gradient(45deg,#043fa5,#de46ee);
  width: 100%;
  padding-top: 200px;
}

.myIntro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  height: auto;
  margin-right: 5%;
  padding: 50px 30px 30px;
}

.content h1 {
  font-size: clamp(30px, 6vw, 60px);
  font-weight: 800;
  margin-bottom: 30px;
}

.content .name {
  color: #48cced;
}

.content .intro {
  font-size: clamp(10px, 4vw, 18px);
  font-weight: 700;
  color: rgb(205, 222, 236);
}

hr {
  width: 60%;
  margin-left: 20%;
}

.skills {
  width: 100%;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}

.skills h1{
  font-size: clamp(25px, 5vw, 45px);
  font-weight: 400;
  color: white;
}

.skills h1:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.skills p{
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.skills .skillList {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .skillList .list{
  width: 40%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px 30px 30px;
  text-align: center;
}

.skills .skillList .list p:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

@media (max-width : 700px) {
  .myIntro {
    width: 100%;
    display: block;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 50px 30px 30px;
  }
}